<ul>
    <li *ngFor="let post of posts">
        <a routerLink="/post/{{ post.id }}">
            
            <div class="content">
                <div  class="name">
                    {{ post.name }}
                </div>
                <img style="width:30%"src="{{ post.imageUrl }}" alt="">
                
                <!-- <div>
                    <li *ngFor="comment post of comments">
                        {{ comment }}
                    </li>
                </div> -->
                <br>
                <button >Like {{post.like}}</button>
                <button style="margin-bottom: 50;" >Comment </button>
                <div>{{ post.comment }}</div>
                
            </div>
        </a>
    </li>
</ul>